* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* list-style: none; */
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: teal;
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.5rem 0; */
  height: 80px;
}

nav ul {
  display: flex;
  column-gap: 4rem;
}
