%primary-btn {
  width: 138px;
  height: 48px;
  background-color: $bg-yellow;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;
}
